@import "./variables";

body {
    color: #242424;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eee;

    margin: 0;
    padding: 0;
}

@import "./components/app";
@import "./modules/notification";
@import "./components/reports";
@import "./components/modal-window";