.modal__block {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    min-width: 200px;

    padding: 30px 20px;

    background-color: #fff;
    border: 2px solid #555;
    border-radius: 15px;

    overflow: hidden;
    pointer-events: all;

    @media screen and (max-width: 600px) {
        width: 70%;
    }
}

.modal__text {
    margin: 0;
    margin-bottom: 30px;

    padding: 0;

    text-align: center;
}

.modal__buttons {
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    width: 100%;
}

.modal__cancel,
.modal__allow,
.modal__accept {
    width: 50%;

    padding: 8px 0;

    font-size: 16px;
    font-weight: 700;

    border: none;

    cursor: pointer;
}

.modal__cancel {
    background-color: #eeeeee;

    &:hover,
    &:focus {
        background-color: #b9b9b9;
    }
}

.modal__allow {
    color: #fff;

    background-color: #f14646;

    &:hover,
    &:focus {
        background-color: #f30e0e;
    }
}

.modal__accept {
    color: #fff;

    background-color: #09b13b;

    &:hover,
    &:focus {
        background-color: #069431;
    }
}