/*
    Navigation
*/
.profile__navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin-bottom: 30px;

    border-bottom: 3px solid $primaryColor;

    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

.profile__button {
    margin-right: 1px;

    padding: 10px 20px;

    font-size: 16px;

    background-color: $backgroundColor;
    border: 2px solid $secondaryColor;
    border-bottom: none;
    border-radius: 10px 10px 0 0;

    transition: all 250ms linear;

    white-space: nowrap;

    cursor: pointer;

    &:first-child {
        margin-left: 30px;
    }

    &:hover,
    &:focus {
        color: #fff;
        background-color: $secondaryColor;
    }

    @media screen and (max-width: 450px) {
        padding: 10px;

        &:first-child {
            margin-left: 10px;
        }

        &:last-child {
            margin-right: 10px;
        }
    }
}

.profile__button--active {
    position: relative;

    padding: 10px 50px;

    color: #fff;
    font-weight: 700;

    background-color: $primaryColor;
    border: 3px solid $primaryColor;
    border-bottom: none;
    border-radius: 10px 10px 0 0;

    transition: all 250ms linear;

    &:hover,
    &:focus {
        color: #fff;
        background-color: $primaryColor;
    }

    @media screen and (max-width: 450px) {
        padding: 10px 30px;
    }
}