.report__block {
    width: 100%;
    max-width: 1366px;

    margin: 0 auto;
}

.report__title-block {
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 0;
    padding: 0;
}

.report__close-button {
    margin: 0;
    margin-right: 10px;
    padding: 0;

    width: 32px;
    height: 32px;

    margin-left: 40px;

    color: #888;
    font-size: 32px;

    background-color: transparent;
    border: none;

    cursor: pointer;

    &:hover,
    &:focus {
        color: #a00;
    }

    @media screen and (max-width: 767px) {
        margin-left: 5px;
    }
}

.report__title {
    margin: 0;
    padding: 0;

    font-size: 20px;
}

.report__submit-button {
    position: absolute;
    right: 40px;
    top: 0;

    height: 32px;

    margin: 0;
    padding: 0 10px;

    color: #fff;
    font-size: 14px;
    font-weight: 700;

    background-color: #09b13b;
    border: none;
    border-radius: 10px;

    cursor: pointer;

    @media screen and (max-width: 767px) {
        right: 20px;
    }

    &:hover,
    &:focus {
        background-color: #069431;
    }

    &:disabled {
        color: #ddd;

        background-color: #aaa;

        cursor: not-allowed;

        &:hover::before,
        &:focus::before {
            content: "Звіт заповнений некорректно!";
            position: absolute;
            left: -235px;
            top: 0;

            display: flex;
            align-items: center;

            padding: 0 10px;

            height: 100%;

            color: #fff;

            background-color: #f00;
            border-radius: 10px;
        }
    }
}

.report__sum {
    margin: 0;
    margin-top: 20px;
    margin-left: 50px;

    @media screen and (max-width: 767px) {
        margin-left: 15px;
        margin-right: 15px;

        padding-bottom: 10px;

        border-bottom: 1px solid #ccc;
    }
}

.report__table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    width: calc(100% - 2 * 10px);

    margin: 0 auto;
    margin-bottom: 80px;
    padding: 0;

    @media screen and (max-width: 1365px) {
        max-width: 650px;

        padding: 0 10px;
    }
}

.report__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;

    margin: 0;
    margin-bottom: 1px;

    padding: 0;

    @media screen and (max-width: 1365px) {
        flex-wrap: wrap;

        width: calc(100% - 10px);

        margin-bottom: 50px;

        &:not(:first-child) {
            border-top: 3px solid #777;
        }
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    &:first-child .report__copy {
        opacity: 0;
        pointer-events: none;
    }
}

.report__options {
    display: flex;
    flex-direction: row;
    align-items: center;

    @media screen and (max-width: 1365px) {
        justify-content: space-between;

        width: 100%;

        margin-top: 15px;
    }
}

.report__info {
    display: none;

    margin: 0;
    margin-right: 10px;

    padding: 0;

    color: #555;
    text-align: left;

    overflow: hidden;
    white-space: nowrap;

    @media screen and (max-width: 1365px) {
        display: block;
    }
}

.report__options-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.report__copy,
.report__delete {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 28px;
    height: 28px;

    margin-right: 5px;
    padding: 0;

    color: #555;
    font-size: 20px;

    border: 1px solid #888;
    border-radius: 5px;

    cursor: pointer;

    @media screen and (max-width: 1365px) {
        width: 36px;
        height: 36px;

        margin-right: 15px;
    }
}

.report__entry {
    margin-right: 1px;

    &:nth-child(2)>.report__field {
        border-radius: 5px 0 0 5px;

        @media screen and (max-width: 1365px) {
            border-radius: 5px;
        }
    }

    &:last-child>.report__field {
        border-radius: 0 5px 5px 0;

        @media screen and (max-width: 1365px) {
            border-radius: 5px;
        }
    }

    @media screen and (max-width: 1365px) {
        margin-right: 5px;
    }

    @media screen and (max-width: 767px) {
        width: 100%;

        margin-top: 15px;
        margin-right: 0;
    }
}

.report__header,
.report__label {
    font-weight: 700;
    text-align: center;

    margin: 0;
    margin-top: 20px;
    margin-bottom: 3px;

    padding: 0;

    @media screen and (max-width: 1365px) {
        text-align: left;

        margin-left: 5px;
    }

    @media screen and (max-width: 767px) {
        & {
            margin-top: 5px;
        }
    }
}

.report__header {
    display: block;

    @media screen and (max-width: 1365px) {
        display: none;
    }
}

.report__label {
    display: none;

    @media screen and (max-width: 1365px) {
        display: block;
    }
}

.report__field {
    padding: 5px;

    font-size: 14px;

    border: 1px solid #888;

    &[name=objects] {
        width: 250px;
    }

    &[name=stages] {
        width: 150px;

        text-align: center;
    }

    &[name=positions] {
        width: 250px;
    }

    &[name=quantity],
    &[name=prices],
    &[name=sums] {
        width: 80px;

        text-align: right;
    }

    &[name=comments] {
        width: 250px;

    }

    @media screen and (max-width: 1365px) {
        height: 26px;

        font-size: 16px;

        border-radius: 5px;

        &[name=objects] {
            text-align: center;
        }
    }

    @media screen and (max-width: 767px) {

        &[name=objects],
        &[name=stages],
        &[name=positions],
        &[name=quantity],
        &[name=prices],
        &[name=sums],
        &[name=comments] {
            width: 95%;

            text-align: left;
        }
    }
}

.report__to-top,
.report__to-bottom {
    position: fixed;
    bottom: 0;

    display: none;

    align-items: flex-end;

    width: 50px;
    height: 50px;

    padding: 0;

    color: #ccc;
    font-size: 30px;

    background-color: rgba(100, 100, 100, 0.8);
    border: none;

    cursor: pointer;

    @media screen and (max-width: 1365px) {
        display: flex;
    }
}

.report__to-bottom {
    left: 0;

    justify-content: flex-start;

    padding-left: 3px;
    padding-bottom: 3px;

    border-radius: 0 100% 0 0;
}

.report__to-top {
    right: 0;

    justify-content: flex-end;

    padding-right: 3px;
    padding-bottom: 3px;

    border-radius: 100% 0 0 0;
}

.report__to-bottom-icon {}

.report__to-top-icon {
    transform: rotateZ(180deg);
}