.report__block {
    width: 100%;
}

.report__table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    width: 100%;

    margin: 0;
    padding: 0;

    @media screen and (max-width: 1365px) {
        align-items: flex-start;

        max-width: 600px;

        margin: 0 auto;
        padding: 0 10px;
    }


}

.report__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 0;
    margin-bottom: 1px;

    padding: 0;

    @media screen and (max-width: 1365px) {
        flex-wrap: wrap;
    }
}

.report__row div {
    &:not(:last-child) {
        margin-right: 1px;

        @media screen and (max-width: 1365px) {
            margin-right: 5px;
        }
    }


}

.report__row p {
    font-weight: 700;
    text-align: center;

    margin: 0;
    margin-top: 20px;
    margin-bottom: 3px;

    padding: 0;

    @media screen and (max-width: 1365px) {
        text-align-last: left;

        margin-left: 5px;
    }
}

.report__row input {
    padding: 5px;

    font-size: 14px;

    border: 1px solid #888;
    border-radius: 5px;

    &[name=objects] {
        width: 300px;
    }

    &[name=stages] {
        width: 150px;

        text-align: center;
    }

    &[name=materials] {
        width: 300px;
    }

    &[name=quantity],
    &[name=prices],
    &[name=sums] {
        width: 80px;

        text-align: right;
    }

    &[name=comments] {
        width: 250px;
    }
}