.report__block {
    width: 100%;
}

.report__status {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);

    padding: 20px;

    background-color: #8de294;
    border-radius: 15px;
}

.report__status p {
    font-weight: 700;

    margin: 0;
    padding: 0;
}

.report__table {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;

    width: calc(100% - 2 * 10px);

    margin: 0 auto;
    padding: 0;

    @media screen and (max-width: 1365px) {
        max-width: 650px;

        padding: 0 10px;
    }


}

.report__row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;

    margin: 0;
    margin-bottom: 1px;

    padding: 0;

    @media screen and (max-width: 1365px) {
        flex-wrap: wrap;

        width: calc(100% - 10px);

        margin-bottom: 50px;

        &:not(:first-child) {
            border-top: 3px solid #777;
        }
    }

    @media screen and (max-width: 767px) {
        flex-direction: column;
    }

    &:first-child .report__copy {
        opacity: 0;
        pointer-events: none;
    }
}

.report__copy,
.report__delete {
    width: 28px;
    height: 28px;

    border: 1px solid #888;
    border-radius: 5px;

    cursor: pointer;
}



.report__row div {
    &:not(:last-child) {
        margin-right: 1px;

        @media screen and (max-width: 1365px) {
            margin-right: 5px;
        }
    }


}

.report__row p {
    font-weight: 700;
    text-align: center;

    margin: 0;
    margin-top: 20px;
    margin-bottom: 3px;

    padding: 0;

    @media screen and (max-width: 1365px) {
        text-align-last: left;

        margin-left: 5px;
    }
}

.report__header {
    display: block;

    @media screen and (max-width: 1365px) {
        display: none;
    }
}

.report__label {
    display: none;

    @media screen and (max-width: 1365px) {
        display: block;
    }
}

.report__row input {
    padding: 5px;

    font-size: 14px;

    border: 1px solid #888;

    &[name=objects] {
        width: 250px;

        border-radius: 5px 0 0 5px;
    }

    &[name=stages] {
        width: 150px;

        text-align: center;
    }

    &[name=materials] {
        width: 250px;
    }

    &[name=quantity],
    &[name=prices],
    &[name=sums] {
        width: 80px;

        text-align: right;
    }

    &[name=comments] {
        width: 250px;

        border-radius: 0 5px 5px 0;
    }

    @media screen and (max-width: 1365px) {
        border-radius: 5px;

        &[name=objects],
        &[name=comments] {
            border-radius: 5px;
        }
    }

    @media screen and (max-width: 767px) {

        &[name=objects],
        &[name=stages],
        &[name=materials],
        &[name=quantity],
        &[name=prices],
        &[name=sums],
        &[name=comments] {
            width: 100%;
        }
    }
}