.view-reports__report {
    display: flex;
    flex-direction: column;

    width: 98%;
    gap: 20px;

    margin-bottom: 20px;
    padding: 10px 0;

    border-top: 2px solid #a55;
    border-bottom: 2px solid #a55;
}

.view-reports__header {
    display: flex;
    flex-direction: row;

    gap: 20px;
}