.view-reports__list {
    max-width: 1200px;

    margin: 0 auto;
    padding: 0;

    cursor: default;
}

.view-reports__report {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
    padding: 10px 20px;

    color: #000;

    background-color: #f5f5f5;
    border: 2px solid #ccc;
    border-radius: 10px;

    // &[data-report-label=UNCONFIRMED] {
    //     background-color: #fadcba;
    //     border-color: #f8c891;
    // }
}

.view-reports__header {
    display: flex;
    flex-direction: row;
    align-items: center;

    cursor: pointer;
}

.view-reports__indicator {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;

    border: 2px solid #aaa;
    border-radius: 100%;
}

.view-reports__indicator-icon {
    color: #aaa;
    font-size: 20px;
}

.view-report__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;
}

.view-report__info-report {
    display: flex;
    flex-direction: row;

    gap: 30px;

    margin-left: 30px;
}

.view-report__info-number {
    width: 80px;
}

.view-report__sum {
    width: 200px;

    text-align: right;
}