.filters {
    display: flex;
    flex-direction: row;
    justify-content: center;

    max-width: 1200px;

    margin: 0 auto;
    padding: 0 10px;
}

.filters__clear {
    width: 32px;
    height: 32px;

    margin-right: 20px;

    color: #aaa;

    cursor: pointer;

    &:hover,
    &:focus {
        color: $thirdColor;
    }

    @media screen and (max-width: 520px) {
        margin-right: 10px;
    }
}

.filters__block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    margin: 0;
    margin-bottom: 30px;

    padding: 0;

    list-style: none;

    @media screen and (max-width: 520px) {
        justify-content: flex-end;
    }
}

.filters__filter {
    display: flex;
    flex-direction: row;

    &:not(:last-child) {
        margin-right: 20px;
        margin-bottom: 10px;
    }

    @media screen and (max-width: 520px) {
        &:not(:last-child) {
            margin-right: 10px;
            margin-bottom: 20px;
        }
    }
}

.filters__filter input {
    display: none;
}

.filters__filter label {
    padding: 5px 20px;

    color: #777;

    border: 2px solid #aaa;
    border-radius: 25px;

    cursor: pointer;

    &:hover,
    &:focus {
        color: $thirdColor;
        border-color: $thirdColor;
    }

    @media screen and (max-width: 520px) {
        padding: 5px 10px;
    }
}

.filters__filter input:checked+label {
    color: #fff;

    background-color: $thirdColor;
    border: 2px solid $thirdColor;
}