.notification__block {
    position: fixed;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);

    min-width: 250px;
    max-width: 95%;

    padding: 20px 10px;

    color: #333;

    background-color: #8de294;
    border-radius: 15px;
    box-shadow: 0 0 10px 1px #333;

    animation-name: showNotification;
    animation-timing-function: linear;
    animation-duration: 300ms;
}

.notification__block--error {
    color: #fff;

    background-color: #d61919;
}

.notification__block--hide {
    animation-name: hideNotification;
    animation-timing-function: linear;
    animation-duration: 300ms;
    animation-fill-mode: forwards;
}

.notification__message {
    font-weight: 700;
    text-align: center;

    margin: 0;
    padding: 0;
}

@keyframes showNotification {
    0% {
        top: -100px;
    }

    100% {
        top: 5px;
    }
}

@keyframes hideNotification {
    0% {
        top: 5px;
    }

    100% {
        top: -100px;
    }
}